In [ ]:
#3 Print First 10 natural numbers using while loop.

In [1]:
count = 0
while count <= 10:
    print(count)
    count += +1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# 10. Access value 20 from the following tuple ->

In [5]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20

In [ ]:
# 9. Given a Python list of numbers. Turn every item of a list into its square

In [10]:
myList = [30, 93, 29, 5, 77, 38, 42, 13, 43, 62]

squaredNumber = [x ** 2 for x in myList]

print(squaredNumber)

[900, 8649, 841, 25, 5929, 1444, 1764, 169, 1849, 3844]

In [ ]:
#7. Display “My Name Is James” as “My**Name**Is**James” using output formatting of a print() function
# For example: print('My', 'Name', 'Is', 'Tamim') will display MyNameIsJames

# So use one of the formatting argument of print() to turn the output into My**Name**Is**Tamim

In [48]:
name = ["My" , "name", "is", "Imtanan"]

print(f"{name[0]+ name[1] + name[2]+ name[3]}")

MynameisImtanan

In [ ]:
LL = 50 , 33, 44, 40, 55, 32, 500, 600, 700, 800, 900, 1200

In [54]:
score = float(input("Enter your score: "))

if score > 100 or score < 0 :
    print("Invalid Numbers")
elif score >= 50:    
    print("Congratulation you have passed the exam.")
else:
    print(" Sorry You faild. Try next time ")

Enter your score: 102
Invalid Numbers

In [6]:
myNumber = float(input("Enter a Number: "))
if myNumber < 0:
    print("The number is negative")
elif myNumber == 0:
    print("It's a zero.")
else:
    print("The number is Positive")

Enter a Number: -30
The number is negative

In [2]:
number = int(input("Multiplication Of : "))

count = 10

while count >= 1:
    product = number * count
    print(number, "x" , count, "=" , product)
    count = count - 1

Multiplication Of : 5
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5

In [3]:
multiply = int(input("Enter a number: "))

i = 1

while i<=10:
    pp = multiply * i
    print(multiply, "X" , i, "=" , pp)
    i = i+1

Enter a number: 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [6]:
digits = int(input("Enter a number: "))

for count in range(1, 11):
    product = digits * count
    print(digits, "X" , count, "=" , product)

Enter a number: 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [10]:
num = [6 , 2, 6, 2, 2]

for items in num:
    output = ""
    for count in range(items):
        output += "X"
    print(output)

XXXXXX
XX
XXXXXX
XX
XX

5050

In [ ]:
# Create a program to find the sum numbers (1 t0 100)

In [13]:
total = 0

for i in range(1, 101):
    total = total + i
print(total)

5050

In [ ]:
# Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum
# of the current number and previous number

In [22]:
sum = 0

for i in range(1, 11):
    sum = sum + i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [25]:
addition = 0
for x in range(1, 20):
    addition = addition + x
    print(addition)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190

In [ ]:
# 4. Accept number from user and calculate the sum of all number from 1 to a given number

In [5]:
given_number = int(input("Enter a number: "))
add_value = 0
for i in range(1, given_number):
    add_value = add_value + i
    print(add_value)

Enter a number: 10
1
3
6
10
15
21
28
36
45

In [ ]:
# 5. Given a list,  it, and display numbers divisible by five, and if you find a number greater than 150,
# stop the loop iteration.

In [24]:
gl = [149, 20, 50, 9, 70, 80, 15, 120, 33, 140, 600, 900, 99, 1200, 130, 145, 149]

box = ""
for number in gl:
    if(number % 5 == 0):
        box = +number
        if box >= 150:
            break
        print(box)

20
50
70
80
15
120
140